@media screen and (min-width: 1280px) and (max-width: 1550px) {
  .marquee {
    width: 300%;
  }
}
@media screen and (min-width: 1440px) {
  .advant-slider {
    margin-right: calc(-1 * (100vw - 1440px + (var(--wrapper-padding) * 2)) / 2) !important;
  } 
}
@media screen and (min-width: 1280px) {
  .section-title {
    margin: var(--title-margin);
    max-width: 51%;
    line-height: 100%;
  }

  .main-nav.mobile {
    display: none !important;
  }
  .menu-items {
    gap: 24px;
    margin-left: 54px;
  }
  .main-nav {
    height: 116px;
  }
  .main-nav .right {
    gap: 24px;
  }

  #first-slide {
    padding-top: 116px;
  }  
  .banner {
    width: calc(100% - 128px);
  }
  .banner-button {
    padding: 20px 50px;
  }

  .choise-card {
    width: 50%;
  }
  
  .advant-card-content {
    margin-top: 112px;
  }
  .advant-card {
    width: 317px;
    height: 305px;
    padding: 48px 36px 64px;
  }
  .advant-slider swiper-slide {
    width: 389px;
  }
  .advant-section {
    margin: 0px -72px;
  }
  .advant {
    padding: 0px 72px;
  }

  .work {
    padding: 48px;
  }
  .work-title {
    margin: 0 0 80px;
  }

  .process .tab-head {
    padding: 36px;
  }

  .marquee {
    padding: 35px 0;
    font-size: 32px;
    animation: marquee linear infinite 10s;
  }

  .partners-wrapper img {
    min-width: calc(20% - 36px);
  }
  .partners-wrapper {
    margin-top: 36px;
  }

  .clients-wrapper {
    gap: 30px;
  }
  .client-card {
    width: 50%;
    padding: 36px 24px 60px 24px;
  }
  .client-real-name {
    bottom: 36px;
  }
  .client-meta {
    gap:  20px;
  }

  .accordeon-question {
    padding: 36px;
  }
  .accordeon-subject-text {
    padding: 0 36px 36px;
  }

  .questions-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .questions-wrapper .right {
    width: 60%;
  }

  .not-found-desc {
    margin-bottom: 30px;
  }
  .not-found {
    position: sticky;
    bottom: 100px;
  }
  .questions-wrapper .left {
    display: flex;
    align-items: flex-end;
  }

  .leave-request {
    margin-top: 36px;
  }
  .main-part {
    grid-template-columns: 463fr 463fr 322fr;
    gap: 24px;
  }
  .main-part .form-textarea {
    grid-column: 1 / 3;
  }

  .first-part {
    height: 319px;
    margin: 80px auto 0;
  }
  .credentials-number {
    margin-left: 18px;
  }
  .afterparty-side {
    width: 33%;
  }
  .afterparty-side:nth-child(2) {
    justify-content: center;
  }
  .afterparty-side:nth-child(3) {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1279px) {
  .section-title {
    max-width: 80%;
  }
  .slider-banner-title {
    margin-bottom: 24px;
  }
  .main-nav {
    display: none;
  }
  .main-nav.mobile {
    display: flex;
  }
  .slide-menu-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    left: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    pointer-events: none;
    transition: .3s;
  }
  .slide-menu-wrapper.active {
    pointer-events: all;
    background: #000000cf;
  }
  .slide-menu {
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: .3s;
    height: 100%;
    height: 100vh;
    margin-bottom: auto;
  }
  .slide-menu-wrapper.active .slide-menu {
    transform: translateX(0);
  }
  .slide-menu-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
  .menu-trigger {
    z-index: 2;
  }
  .logo {
    position: relative;
    z-index: 2;
  }
  .menu-items {
    flex-direction: column;
    gap: 16px;
  }
  .social {
    display: flex;
    gap: 12px;
  }

  .banner .banner-button {
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
  }

  .choise-cards {
    gap: 24px;
  }
  .choise-card {
    width: 50%;
  }

  .advant-card h3 {
    margin-bottom: 24px;
  }
  .advant-card > h3 {
    margin-bottom: 64px;
  }
  .advant-slider swiper-slide {
    width: 292px;
  }
  .advant-section {
    margin: 0px -36px;
  }
  .advant {
    padding: 0px 36px;
  }

  #contractor {
    display: none;
  }
  .contractor-form {
    padding: 24px 36px;
  }
  .contractor-input {
    width: 60%;
  }

  .work {
    padding: 36px 24px 24px;
  }
  .work-cards {
    gap: 24px;
  }
  .work-card {
    width: calc(50% - 108px);
  }
  .work-title {
    margin: 0 0 60px;
  }

  .outsource-n, .outsource-l {
    width: 100%;
  }

  .team {
    gap: 24px;
  }
  .team-card {
    width: calc((100% / 2) - 84px);
  }

  .process {
    padding: 36px 24px 24px;
  }
  .process .tab-head {
    padding: 24px;
  }
  
  .toppings {
    margin-top: 36px;
  }
  .not-found {
    margin-top: 60px;
  }
  .not-found .button {
    padding: 20px 50px;
    align-self: center;
    margin-top: 30px;
  }
  .questions-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .clients-wrapper {
    gap: 30px;
  }
  .client-card {
    width: 50%;
    padding: 36px 24px 60px 24px;
  }
  .client-real-name {
    bottom: 36px;
  }
  .client-meta {
    gap:  20px;
  }
  
  .partners-wrapper {
    margin-top: 24px;
  }
  
  .marquee-wrapper {
    margin-top: 60px;
  }
  .marquee img {
    width: 15px;
  }
  .marquee {
    padding: 19px 0;
    animation: marquee linear infinite 10s;
  }  

  footer {
    margin-top: 60px;
  }
  .copywrite {
    color: var(--text-accent-color);
  }
  .afterparty {
    flex-direction: column;
    gap: 24px;
    padding: 36px;
  }
  .afterparty .afterparty-side:nth-child(1) {
    order: 2;
    flex-wrap: wrap;
    justify-content: center;
  }
  .afterparty .afterparty-side:nth-child(2) {
    order: 1;
  }
  .afterparty .afterparty-side:nth-child(3) {
    order: 4
  }
  .afterparty-side:nth-child(4) {
    display: block;
    order: 3
  }
  .afterparty .afterparty-side {
    width: unset;
    text-align: center
  }
  .first-part {
    height: 319px;
    margin: 80px auto 0;
  }
  .credentials-number {
    margin-left: 18px;
  }
  .afterparty-side {
    width: 33%;
  }
  .afterparty-side:nth-child(2) {
    justify-content: center;
  }
  .afterparty-side:nth-child(3) {
    justify-content: flex-end;
  }

  .leave-request .main-part {
    gap: 16px;
  }

  #send-form {
    order: 3;
  }
  .add-file {
    order: 2;
    margin: 20px 0px;
  }
  .main-part textarea {
    height: 126px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .slide-menu {
    width: calc(50% - 64px);
  }
  .main-nav {
    height: 116px;
  }
}

@media screen and (min-width: 484px) and (max-width: 1279px) {
  .menu-items {
    padding: 16px 36px;
  }

  .accordeon-question {
    padding: 36px;
    background-color: var(--card-bg-color);
  }
  .accordeon-subject-text {
    padding: 0 36px 36px;
  }
  .advant-card {
    padding: 24px 24px 36px 24px;
    width: 244px;
    height: 220px;
  }

  .partners-wrapper img {
    width: 20%;
  }
}

@media screen and (max-width: 991px) {
  .slide-menu-bottom {
    padding: 24px 16px;
  }
  .social {
    flex-wrap: wrap;
  }

  .banner-tags {
    max-width: none;
  }

  .process .tabs-holder {
    flex-direction: column;
  }
  .process .tabs-content, .process .tabs-head {
    width: 100%;
  }
  
}

@media screen and (max-width: 768px) {
  .choise-cards {
    flex-direction: column;
  }
  .choise-card {
    width: fit-content;
  }

  .outsource-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .outsource-title h2 {
    margin: 0 0 24px;
  }
  .outsource-list li {
    width: 100%;
  }
  .outsource-button {
    border-radius: 13px;
    padding: 12px 20px;
  }

  .work {
    padding: 36px 16px 16px;
  }
  .work-card {
    width: fit-content;
    padding: 24px;
  }

  .contractor-form {
    background-image: url('../images/contractor-mobile.png');
    padding: 36px 24px 120px;
    border-radius: 18px;
    background-size: 60%;
  }

  .contractor-input {
    flex-direction: column;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    gap: 16px;
    margin: 16px 0px;
    padding: 0px;
  }
  .contractor-input input {
    background: #323232;
    border-radius: 18px;
    padding: 16px 5px 16px 20px;
  }

  .marquee {
    animation: marquee linear infinite 10s;
  }
  .marquee {
    width: 400%;
  }
  
  .team-card {
    width: 100%;
  }

  .process {
    padding: 36px 16px 16px;
  }
  
}

@media screen and (min-width: 484px) and (max-width: 768px) {
  .slide-menu {
    width: calc(50% - 64px);
  }
  .main-nav {
    height: 116px;
  }
  .slide-menu {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .marquee {
    animation: marquee linear infinite 10s;
  }
  .marquee {
    width: 400%;
  }
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -200%
    }
  }

  .sendmail-popup .offer-request-title {
    margin-top: 40px;
  }
  .popup-title {
    font-size: 24px;
  }
  .popup-description {
    margin-top: 16px;
  }
}

@media screen and (max-width: 582px) {
  #first-slide {
    display: flex;
    height: calc(100vh - 170px);
    height: calc(100dvh - 170px);
    height: calc(100svh - 170px);
  }
  .banner {
    padding: 0px 16px 24px;
    background-image: url(../images/mobile-banner.png);
    position: relative;
    justify-content: center;
    width: 100%;
  }
  .banner::before {
    content: url(../images/mobilebg-el.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 292px;
    z-index: 0;
    border-radius: 36px 0 0 0;
  }
  .banner-tags {
    display: none;
  }
  .banner-title {
    margin: 100px 0px 48px;
    z-index: 1;
  }
  .banner-description {
    max-width: 80%;
    padding: 0px 20px;
    text-align: center;
  }
  .banner .banner-button {
    width: calc(100% - 16px);
  }

  .choise-card {
    padding: 24px;
  }

  .advant-card {
    justify-content: flex-start;
  }
  .advant-navigation {
    display: none;
  }
  .advant-card h3 {
    font-size: 18px;
  }

  .work-card .card-icon img {
    width: 36px;
    height: 36px;
  }

  .contractor-form {
    background-size: contain;
  }

  .outsource-n, .outsource-l {
    padding: 24px;
  }

  .team-card {
    padding: 24px;
  }
  .team-card-title {
    flex-direction: column;
    align-items: baseline;
  }
  .team-card-title .level {
    margin: 0 0 3px;
  }

  .process .tab-head {
    border-radius: 24px;
  }

  .clients-wrapper {
    flex-wrap: wrap;
  }
  .clients-wrapper .client-card {
    width: 100%;
  }

  .request-offer-inputs {
    flex-direction: column;
  }
  .request-offer-inputs .left, .request-offer-inputs .right {
    width: 100%;
  }

  .left {
    width: 100%;
  }
  .not-found {
    align-items: center;
    width: 100%;
  }
  .not-found-title {
    margin-bottom: 20px;
  }
  .not-found .button {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 484px) {
  #first-slide {
    padding-top: 90px;
    height: calc(100vh - 130px);
    height: calc(100dvh - 130px);
    height: calc(100svh - 130px);
  }
  .main-nav {
    height: 72px;
  }
  .menu-items {
    padding: 16px;
  }
  .slide-menu {
    width: 100%;
  }
  .slide-menu-contacts {
    flex-direction: column;
  }
  img.header-element:nth-child(3) {
    display: none
  }

  .section-title {
    max-width: 100%;
  }

  .advant-card {
    height: 240px;
  }
  .advant-slider swiper-slide {
    width: 292px;
  }
  .advant-card {
    padding: 24px;
  }
  .advant-section {
    margin: 0px -16px;
  }
  .advant {
    padding: 0px 16px;
  }

  .partners-slide {
    width: 50%;
  }

  .accordeon-question {
    padding: 24px;
    background-color: var(--card-bg-color);
    font-size: 18px;
  }
  .accordeon-subject-text {
    padding: 0 24px 24px;
  }

  .footer-row {
    flex-direction: column;
    text-align: center;
  }
  .first-part {
    height: unset;
    padding: 60px 0px 36px 0px;
  }
  .credentials {
    margin: 24px 0;
  }
  .footer-number {
    margin-top: 36px;
  }
  .afterparty-side:nth-child(2) {
    gap: 36px;
  }
}

@media screen and (max-width: 380px) {
  .marquee {
    animation: marquee linear infinite 10s;
  }
  .marquee {
    width: 800%;
  }
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -400%
    }
  }
}