:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: "Roboto Flex";
}
h1, h2, h3, h4, h5, h6 .menu-item {
  color: var(--text-accent-color);
  margin: 0;
}
h1, h2 {
  font-family: "Roboto Flex", serif;
  font-weight: 447;
  line-height: 84%;
  letter-spacing: 0.9px;
  margin: 0;
  font-variation-settings: "opsz" 72, "GRAD" 150, "slnt" 0, "XTRA" 556, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 528, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
h3 {
  font-family: "TT Norms Pro"; 
  margin: 0;
  font-weight: 500;
}
h1 { font-size: var(--h1-size) }
h2 { font-size: var(--h2-size) }
h3 { font-size: var(--h3-size) }
a {
  text-decoration: none;
  color: var(--text-accent-color);
  font-family: "TT Norms Pro";
  font-weight: 500;
}
section {
  padding-top: var(--block-padding);
}
span, p, input, input::placeholder {
  color: var(--text-main-color);
  font-family: "TT Norms Pro"
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-main-color);
}
textarea {
  resize: none;
}
input[type="checkbox"],
input[type="file"] {
  display: none;
}

.wrapper {
  padding: 0 var(--wrapper-padding);
  margin: 0 auto;
}

.banner-tag-element {
  font-family: "TT Norms Pro"
}

.menu-items {
  display: flex;
  font-weight: 500;
}
.menu-item {
  color: var(--text-accent-color);
  font-size: var(--menu-item-size);
  font-family: "TT Norms Pro";
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #000;
  width: calc(100vw - 2 * var(--wrapper-padding));
  padding: 0 var(--wrapper-padding);
  top: 0;
  z-index: 4;
}
.main-nav .left nav, .main-nav .right {
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--main-color);
}
.button:hover {
  --main-color: #7A48FF;
}
.button:focus {
  --main-color: #6228FF;
}
.header-button {
  padding: 11px 24px;
  border-radius: 13px;
}
.header-button::before {
  content: url("../images/circle.svg");
  position: relative;
  top: -2px;
  margin-right: 10px;
}
.banner-button {
  border-radius: var(--small-radius);
  display: ruby-base;
}
.banner {
  background-image: url("../images/banner.webp");
  background-color: var(--card-bg-color);
  background-position: center center;
  background-size: cover;

  border-radius: var(--big-radius);
  padding: 64px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.banner-tag-element {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 14px;
  color: var(--text-accent-color);
  border-radius: 64px;
}
.banner-tag-element::before {
  content: url('../images/tag.svg');
  height: 25px;
  margin-right: 10px;
}
.banner-title {
  text-align: center;
  margin: 36px 0;
}
.banner-description {
  font-family: "TT Norms Pro"
}
.accordeon-question {
  position: relative;
  z-index: 2;
}
.accordeon-subject {
  position: relative;
  z-index: 1;
}
.accent1, .accent2, .accent3 {
  color: var(--text-accent-color);
  font-family: "TT Norms Pro";
  font-weight: 500;
}
.accent1 { font-size: var(--accent1-size); }
.accent2 { font-size: var(--accent2-size); }
.accent3 { font-size: var(--accent3-size); }

.small {
  font-size: var(--small-size);
  color: var(--text-main-color);
  line-height: 140%;
}

.slider-banner h2 {
  font-family: "TT Norms Pro"
}
.section-title {
  margin: var(--title-margin);
  line-height: 100%;
}
.rate-button {
  text-align: center;
  padding: 11px;
  border-radius: 13px;;
}
.slider-banner {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-bg-color);
  border-radius: var(--big-radius);
  margin-top: 160px;
}
.slider-banner-image {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 0 0 var(--big-radius) 0;
  z-index: 1;
}
.slider-banner .right {
  position: relative;
}
.banner-pagination {
  display: flex;
  flex-wrap: wrap;
}
.banner-pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg-color);
  user-select: none;
  color: var(--border-color);
  opacity: 1;
  font-weight: 500;
  font-size: var(--normal-size);
  user-select: none;
  margin: 0 !important; /* Swiper */
}
.banner-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  background: var(--hover-color);
}
.banner-pagination .swiper-pagination-bullet-active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--text-accent-color)
}
.slider-banner-title {
  font-weight: 500;
  font-size: var(--accent2-size);
}
.slider-banner-description {
  display: inline-block;
  line-height: 25px;
}

.rate-cards {
  display: flex;
}
.rate-card {
  background-color: var(--card-bg-color);
  border-radius: var(--medium-radius);
  display: flex;
  flex-direction: column;
}
.rate-benefits {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.rate-benefits li {
  display: flex;
  align-items: center;
}
.rate-benefits li::before {
  height: 25px;
  content: url("../images/benefits.svg");
  margin-right: 10px;
}

.marquee {
  position: relative;
  font-family: "Roboto Flex";
  font-variation-settings: "opsz" 72, "GRAD" 150, "slnt" 0, "XTRA" 556, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 528, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  width: 200%;
  display: flex;
}
.marquee div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.marquee span {
  color: var(--text-accent-color);
}
.marquee-wrapper {
  position: relative;
  margin-left: calc(0px - var(--wrapper-padding));
  margin-right: calc(0px - var(--wrapper-padding));
  background-color: var(--main-color);
  padding: 0;
  margin-top: var(--block-padding);
  overflow: hidden;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%
  }
}

.grid-cards {
  display: grid;
}
.grid-card {
  background-color: var(--card-bg-color);
  display: flex;
  justify-content: space-between;
  border-radius: var(--medium-radius);
  overflow: hidden;
}
.grid-card-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.grid-card-content * {
  width: 100%;
}
.grid-card-image {
  position: relative;
}
.grid-card-image img {
  position: absolute;
  right: 0;
}
.grid-card-content span {
  font-size: var(--normal-size);
  font-family: "TT Norms Pro";
  font-weight: 500;
  line-height: 140%;
}
.grid-card-content img {
  max-width: 100%;
  width: 100%;
  overflow: auto;
}

.contractor-form {
  background-image: url('../images/contractor.png');
  background-color: var(--card-bg-color);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: var(--medium-radius);
}
.contractor-subtitle {
  font-size: var(--normal-size);
  font-weight: 500;
  font-family: "TT Norms Pro";
}
.contractor-input {
  width: 50%;
  background-color: #323232;
  padding: 12px;
  border-radius: var(--small-radius);
  display: flex;
  margin: 36px 0;
}
.contractor-input input {
  flex: 1 0 0;
  font-size: var(--normal-size);
  background: transparent;
  border: none;
  color: var(--text-main-color);
  font-family: "TT Norms Pro";
  font-weight: 500;
}
.contractor-input input:focus {
  outline: none;
}
.contractor-input button {
  padding: 11px 40px;
  font-family: "TT Norms Pro";
  font-size: var(--small-size);
  background-color: #FFFFFF;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}
.contractor-input button:hover {
  background-color: #AAAAAA;
}
.contractor-description {
  font-weight: 500;
  font-family: "TT Norms Pro";
  line-height: 140%;
}
.process-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.process-navigation {
  display: flex;
  align-items: center;
  gap: 12px;
}
#prevProcess,
#nextProcess {
  cursor: pointer;
}
.process-controls {
  max-width: 100% !important;
}
.process-card {
  background-color: var(--card-bg-color);
  border-radius: var(--medium-radius);
  display: flex;
  flex-direction: column;
  transition: .2s;
}
/* .swiper-slide-active .process-card {
  background-color: var(--main-color);
}
.swiper-slide-active .process-card span {
  color: var(--text-accent-color)
} */
.process-card h3 {
  font-size: var(--accent3-size);
  margin-bottom: 36px;
}
.process-card span {
  font-family: "TT Norms Pro";
  font-size: var(--normal-size);
  line-height: 140%;
}

.partners-title {
  margin: 0 auto;
  display: table;
}
.partners-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contractor-email {
  padding-left: 12px;
}
.clients-wrapper {
  display: flex;
}
.client-card {
  background-color: var(--card-bg-color);
  border-radius: var(--medium-radius);
  position: relative;
}
.client-meta {
  display: flex;
  align-items: center;
}
.client-name {
  font-size: var(--accent3-size);
  color: var(--text-accent-color);
}
.client-review {
  color: var(--text-accent-color);
  line-height: 180%;
  font-size: var(--normal-size);
  margin: 40px 0 36px 0;
}
.client-real-name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -5px;
  position: absolute;
}
.client-real-name::before {
  content: url('../images/quote.svg');
  width: 20px;
  height: 20px;
}
swiper-container {
  padding-left: var(--wrapper-padding) !important;
  margin: 0 calc(-1 * var(--wrapper-padding)) !important;
}

.accordeon-body {
  border-radius: var(--medium-radius);
  cursor: pointer;
  overflow: hidden;
  transition: .3s;
  margin-bottom: 10px;
}
.accordeon-body:hover {
  background-color: var(--card-bg-color) !important;
}
.accordeon-question {
  font-size: var(--normal-size);
  color: var(--text-accent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.accordeon-question img {
  width: 15px;
  height: 9px;
  transition: .3s;
}
.not-found {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: sticky;
}
.not-found-title {
  color: var(--text-accent-color);
  font-size: var(--accent2-size);
  font-family: "TT Norms Pro";
  font-weight: 500;
  margin-bottom: 12px;
}
.not-found-desc {
  color: var(--text-accent-color);
}

.toppings {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.topping {
  color: var(--text-accent-color);
  font-size: var(--small-size);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 11px 28px;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  transition: .3s;
}
.topi:checked + .topping {
  background-color: var(--main-color);
}
.topi:checked + .topping::after {
  rotate: 45deg;
  filter: brightness(2);
}
.topping::after {
  content: url('../images/cross.svg');
  width: 20px;
  height: 20px;
  transition: .3s;
}

.main-part {
  display: grid;
  margin-top: 36px;
}
.main-part input[type="text"], 
.main-part textarea,
.main-part input[type="submit"] {
  background-color: var(--card-bg-color);
  border-radius: var(--small-radius);
  font-family: "TT Norms Pro";
  border: none;
  outline: none;
  color: var(--text-main-color);
  padding: 20px 28px;
  font-size: var(--normal-size);
  font-weight: 500;
}
#send-form {
  background-color: var(--main-color);
  color: var(--text-accent-color);
  cursor: pointer;
}

.add-file {
  display: flex;
  gap: 16px;
}
.file-icon img {
  padding: 20px;
  width: 23px;
  height: 23px;
  background-color: var(--card-bg-color);
  border-radius: 40px;
}
.file-icon {
  cursor: pointer;
}
.file-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.selected-files {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow-y: scroll;
  gap: 10px;
  padding-right: 22px;
}
.selected-files::-webkit-scrollbar {
  width: 2px;
}
.selected-files::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px;
}
.selected-files::-webkit-scrollbar-track {
  background-color: #232323;
  border-radius: 2px;
}
.selected-file {
  color: #9395A0;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #232323;
}
.selected-file img {
  margin-left: auto;
}
.selected-file::before {
  content: url('../images/clip-s.svg');
  width: 22px;
  height: 17px;
}
.file-hint {
  color: var(--text-accent-color);
  font-size: var(--accent3-size);
}
.first-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 var(--wrapper-padding);
  background-color: var(--card-bg-color);
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.credentials-number {
  font-family: "TT Norms Pro";
  font-weight: 500;
}
.footer-side {
  display: flex;
  flex-direction: column;
  font-family: "TT Norms Pro";
}
.footer-number {
  font-size: var(--accent2-size);
}
.footer-email {
  text-align: right;
  font-size: var(--accent2-size);
  color: var(--text-main-color);
}
.selected-files {
  display: flex;
  flex-direction: column;
}
.adress, .adress-desc {
  font-size: var(--accent3-size);
}
.adress-desc {
  color: var(--text-accent-color);
  margin-bottom: 10px;
}
.afterparty {
  padding: 21px var(--wrapper-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.afterparty-side {
  display: flex;
  gap: 24px;
}
.sendmail-popup-wrapper {
  width: calc(100vw - 24px);
  height: 100vh;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.sendmail-popup-wrapper.hidden {
  display: none;
}
.sendmail-popup {
  padding: 30px;
  width: calc(100vw - 60px);
  max-width: 800px;
  height: 465px;
  background-color: #000;
  border-radius: 36px;
}
.close-popup {
  float: right;
  padding: 12px;
  border-radius: 24px;
  width: 20px;
  height: 20px;
  background-color: #323232;
  position: relative;
  z-index: 6;
  cursor: pointer;
}
.popup-contents {
  width: 100%;
  transform: translateY(-40px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-status {
  color: var(--main-color);
  padding: 10px 14px;
  background-color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
}
.popup-status::before {
  width: 24px;
  height: 24px;
  content: url('../images/status.svg');
}
.popup-title {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-top: 48px;
  text-align: center;
}
.popup-description {
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
  text-align: center;
}

.slider-banner-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.slider-banner-item {
  width: 100%;
}

.banner-item-count {
  margin-top: 50px;
  padding: 21px 26px;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 40px;
  font-variant-numeric: tabular-nums;
  border: 1px solid rgba(255, 255, 255, 0.3)
}
