:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: "Roboto Flex";
}
h1, h2, h3, h4, h5, h6 .menu-item {
  color: var(--text-accent-color);
  margin: 0;
}
h1, h2 {
  font-family: "Roboto Flex", serif;
  font-weight: 447;
  line-height: 84%;
  letter-spacing: 0.9px;
  margin: 0;
  font-variation-settings: "opsz" 72, "GRAD" 150, "slnt" 0, "XTRA" 556, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 528, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
h3 {
  font-family: "TT Norms Pro"; 
  margin: 0;
  font-weight: 500;
}
h1, .h1 { font-size: var(--h1-size) }
h2, .h2 { font-size: var(--h2-size) }
h3, .h3 { font-size: var(--h3-size) }
a {
  text-decoration: none;
  color: var(--text-accent-color);
  font-family: "TT Norms Pro";
  font-weight: 500;
}
section {
  max-width: 1295px;
  padding-top: var(--block-padding);
  margin: 0 auto;
}
span, p, input, li, input::placeholder {
  color: var(--text-main-color);
  font-family: "TT Norms Pro";
  font-weight: 500;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-main-color);
}
textarea {
  resize: none;
}
input[type="checkbox"],
input[type="file"] {
  display: none;
}

.wrapper {
  padding: 0 var(--wrapper-padding);
}
.wide {
  max-width: none;
}

.section-title {
  margin: var(--title-margin);
  line-height: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #000;
  width: calc(100vw - 2 * var(--wrapper-padding));
  padding: 0 var(--wrapper-padding);
  top: 0;
  z-index: 4;
}
.menu-items {
  display: flex;
  font-weight: 500;
  padding: 16px 36px;
}
.main-nav.mobile .menu-items {
  margin-top: 100px;
}
.main-nav.mobile .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-accent-color);
  font-size: var(--small-size);
  font-family: "TT Norms Pro";
  padding: 16px 18px 16px 24px;
  background-color: var(--card-bg-color);
  border-radius: 18px;
}
.main-nav.mobile .menu-item:after {
  content: url('/images/arr_right.svg');
  display: block;
  margin-left: auto;
  height: 24px;
}
.menu-title span {
  color: var(--text-accent-color);
  font-size: var(--normal-size);
}
.slide-menu-bottom {
  gap: 24px;
  background-color: var(--card-bg-color);
  padding: 24px 36px;
}
.slide-menu-bottom .header-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-menu-bottom .menu-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  border-radius: 14px;
  margin: 0 0 10px;
}
.slide-menu-bottom .header-social span {
  font-size: 14px;
}
.social {
  justify-content: space-between;
}
.main-nav .left nav, .main-nav .right {
  display: flex;
  align-items: center;
}
.main-nav .menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1295px;
  width: 100%;
  margin: 0 auto;
}
.button {
  background-color: var(--main-color);
}
.button:hover {
  --main-color: #7A48FF;
}
.button:focus {
  --main-color: #6228FF;
}
.header-button {
  padding: 11px 24px;
  border-radius: 13px;
}
.half {
  width: 50%;
}
.header-button::before {
  content: url("../images/circle.svg");
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.banner-button {
  border-radius: var(--small-radius);
  display: ruby-base;
}
.banner {
  background-image: url("../images/banner.webp");
  background-color: var(--card-bg-color);
  background-position: center center;
  background-size: cover;

  border-radius: var(--big-radius);
  padding: 64px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 70%;
}
.banner-tag-element {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 14px;
  color: var(--text-accent-color);
  border-radius: 64px;
  font-family: "TT Norms Pro"
}
.banner-tag-element::before {
  content: url('../images/tag.svg');
  height: 25px;
  margin-right: 10px;
}
.banner-title {
  text-align: center;
  margin: 36px 0;
}
.banner-description {
  font-size: var(---normal-size);
  font-family: "TT Norms Pro";
  margin-bottom: 100px;
}

.choise-cards {
  display: flex;
  gap: 36px;
}
.choise-card {
  display: flex;
  flex-direction: column;
  padding: 48px;
  border-radius: var(--medium-radius);
  background-color: var(--card-bg-color);
}
.choise-card .card-title {
  margin: 0 0 36px;
  font-size: var(--accent2-size);
  color: var(--text-accent-color);
}
.choise-card .card-img {
  margin: 0 auto 40px;
}
.choise-card .card-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.choise-card .card-text {
  font-size: var(--normal-size);
  font-weight: 500;
}

.advant-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advant-navigation {
  display: flex;
  align-items: center;
  gap: 12px;
}
#prevAdvant,
#nextAdvant {
  cursor: pointer;
}
.advant-controls {
  max-width: 100% !important;
}
.advant-card {
  background-color: var(--card-bg-color);
  border-radius: var(--medium-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .2s;
}
.advant-card:hover {
  background-color: var(--main-color);
}
.advant-card h3 {
  font-size: 24px;
  margin-bottom: 36px;
}
.advant-card span {
  font-family: "TT Norms Pro";
  font-size: var(--normal-size);
  line-height: 140%;
  transition: .2s;
}
.advant-card:hover span {
  color: var(--text-accent-color);
}
swiper-container {
  margin-right: calc(-1 * var(--wrapper-padding)) !important;
}
.advant-section {
  max-width: none;
  overflow: hidden;
}
.advant {
  margin: 0 auto;
  max-width: 1295px;
}

.work {
  border-radius: var(--medium-radius);
  background-color: var(--card-bg-color);
}
.work-title {
  font-family: 'TT Norms Pro';
}
.work-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.work-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-gray-color);
  padding: 48px;
  gap: 24px;
  width: calc(50% - 120px);
  border-radius: var(--small-radius);
}
.work-card .card-icon img {
  width: 48px;
  height: 48px;
}
.work-card span {
  color: var(--text-accent-color);
  font-weight: 500;
}

.outsource-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: var(--title-margin);
}
.outsource-title span {
  font-size: var(--small-size);
  font-weight: 500;
}
.outsource {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.outsource-n, .outsource-l {
  display: flex;
  flex-direction: column;
  padding: 36px;
  border-radius: var(--small-radius);
  background-color: var(--card-bg-color);
  width: calc(50% - 90px);
}
.outsource-l {
  flex-grow: 1;
}
.outsource-n .h3, .outsource-l .h3 {
  color: var(--text-accent-color);
  margin: 0 0 16px;
}
.outsource-n p, .outsource-l p {
  color: var(--text-accent-color);
  margin: 0 0 30px;
}
.outsource-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px 48px;
  font-weight: 500;
}
.outsource-list li {
  display: flex;
  align-items: center;
  width: calc(50% - 24px);
}
.outsource-l .outsource-list {
  gap: 18px;
}
.outsource-l .outsource-list li {
  width: unset;
}
.outsource-list li:before {
  content: url("../images/benefits.svg");
  height: 20px;
  margin-right: 10px;
}
.outsource-button {
  text-align: center;
  padding: 20px;
  border-radius: var(--small-radius);
  margin: 36px 0 0;
  font-size: 20px;
  cursor: pointer;
}

.contractor-form {
  background-image: url('../images/contractor.png');
  background-color: var(--card-bg-color);
  background-position: bottom right;
  background-size: unset;
  background-repeat: no-repeat;
  border-radius: var(--medium-radius);
}
.contractor-subtitle {
  font-size: var(--normal-size);
  font-weight: 500;
  font-family: "TT Norms Pro";
}
.contractor-input {
  width: 50%;
  background-color: #323232;
  padding: 12px;
  border-radius: var(--small-radius);
  display: flex;
  margin: 36px 0;
}
.contractor-input input {
  flex: 1 0 0;
  font-size: var(--normal-size);
  background: transparent;
  border: none;
  color: var(--text-main-color);
  font-family: "TT Norms Pro";
  font-weight: 500;
}
.contractor-input input:focus {
  outline: none;
}
.contractor-input button {
  padding: 12px 40px;
  font-family: "TT Norms Pro";
  font-size: var(--small-size);
  background-color: #FFFFFF;
  border-radius: 13px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.contractor-input button:hover {
  background-color: #AAAAAA;
}
.contractor-description {
  font-weight: 500;
  font-family: "TT Norms Pro";
  line-height: 140%;
}
#contractor-email {
  padding-left: 12px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.team-card {
  display: flex;
  flex-direction: column;
  padding: 36px;
  border-radius: var(--small-radius);
  width: calc((100% / 3) - 96px);
  background-color: var(--card-bg-color);
}
.team-card-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 36px;
}
.team-card-title .level {
  color: var(--text-accent-color);
  padding: 4px 10px;
  background-color: var(--main-color);
  border-radius: 6px;
  margin-right: 5px;
}
.team-card-title .exp {
  margin-top: 5px;
}
.team-card .spec {
  color: var(--text-accent-color);
  font-size: var(--accent3-size);
  margin: 0 0 6px;
}
.team-card .price {
  font-size: var(--h3-size);
  font-weight: 500;
  font-family: 'TT Norms Pro';
  color: var(--text-accent-color);
  margin: 0 0 24px;
}
.team-card .price span {
  color: var(--text-accent-color);
  font-size: var(--accent3-size);
}

.process {
  padding: 48px;
  border-radius: var(--medium-radius);
  background-color: var(--card-bg-color);
}
.process h3 {
  margin: 0 0 48px;
}
.process .tabs-holder {
  display: flex;
  gap: 36px;
}
.process .tabs-content,
.process .tabs-head {
  width: 50%;
}
.process .tabs-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.process .tab-head {
  display: flex;
  flex-direction: column;
  padding: 36px;
  border-radius: var(--medium-radius);
  cursor: pointer;
  transition: .2s;
}
.process .tab-head.active {
  background-color: var(--card-gray-color);
}
.process .tab-head:not(.active):hover {
  background-color: var(--card-gray-color);
}
.process .tab-title {
  color: var(--text-accent-color);
  font-size: 22px;
  margin-bottom: 16px;
  pointer-events: none;
}
.process .tab-head p {
  pointer-events: none;
}
.process .tab-content:not(.active) {
  display: none;
}
.process .tab-content {
  animation: fadeEffect 2s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.process .tab-img {
  margin: 0 auto;
  width: fit-content;
}
.process .tab-img img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--medium-radius);
}

.marquee {
  position: relative;
  font-family: "Roboto Flex";
  font-variation-settings: "opsz" 72, "GRAD" 150, "slnt" 0, "XTRA" 556, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 528, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  width: 230%;
  display: flex;
}
.marquee div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.marquee span {
  color: var(--text-accent-color);
}
.marquee-wrapper {
  position: relative;
  margin-left: calc(0px - var(--wrapper-padding));
  margin-right: calc(0px - var(--wrapper-padding));
  background-color: var(--main-color);
  padding: 0;
  margin-top: var(--block-padding);
  overflow: hidden;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%
  }
}

.partners-title {
  margin: 0 auto;
  display: table;
  font-size: var(--normal-size);
}
.partners-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients-wrapper {
  display: flex;
}
.client-card {
  background-color: var(--card-bg-color);
  border-radius: var(--medium-radius);
  position: relative;
}
.client-meta {
  display: flex;
  align-items: center;
}
.client-name {
  font-size: var(--accent3-size);
  color: var(--text-accent-color);
}
.client-review {
  color: var(--text-accent-color);
  line-height: 180%;
  font-size: var(--normal-size);
  margin: 40px 0 36px 0;
}
.client-real-name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -5px;
  position: absolute;
}
.client-real-name::before {
  content: url('../images/quote.svg');
  width: 20px;
  height: 20px;
}

.accordeon-body {
  border-radius: var(--medium-radius);
  cursor: pointer;
  overflow: hidden;
  transition: .3s;
  margin-bottom: 10px;
}
.accordeon-body:hover {
  background-color: var(--card-bg-color) !important;
}
.accordeon-question {
  font-size: var(--normal-size);
  color: var(--text-accent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.accordeon-question img {
  width: 15px;
  height: 9px;
  transition: .3s;
}
.accordeon-body.active .accordeon-question img {
  rotate: 180deg;
}
.accordeon-question {
  position: relative;
  z-index: 2;
}
.accordeon-subject {
  position: relative;
  z-index: 1;
  max-height: 0;
  transition: .2s ease-out;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: sticky;
}
.not-found-title {
  color: var(--text-accent-color);
  font-size: var(--accent2-size);
  font-family: "TT Norms Pro";
  font-weight: 500;
  margin-bottom: 12px;
}
.not-found-desc {
  color: var(--text-accent-color);
}
.toppings {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.topping {
  color: var(--text-accent-color);
  font-size: var(--small-size);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 11px 28px;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  transition: .3s;
}
.topi:checked + .topping {
  background-color: var(--main-color);
}
.topi:checked + .topping::after {
  rotate: 45deg;
  filter: brightness(2);
}
.topping::after {
  content: url('../images/cross.svg');
  width: 20px;
  height: 20px;
  transition: .3s;
}
.main-part {
  display: grid;
  margin-top: 36px;
}
.main-part input[type="text"], 
.main-part textarea,
.main-part input[type="submit"] {
  background-color: var(--card-bg-color);
  border-radius: var(--small-radius);
  font-family: "TT Norms Pro";
  border: none;
  outline: none;
  color: var(--text-main-color);
  padding: 20px 28px;
  font-size: var(--normal-size);
  font-weight: 500;
}
#send-form {
  background-color: var(--main-color);
  color: var(--text-accent-color);
  cursor: pointer;
}
.add-file {
  display: flex;
  gap: 16px;
}
.file-icon img {
  padding: 20px;
  width: 23px;
  height: 23px;
  background-color: var(--card-bg-color);
  border-radius: 40px;
}
.file-icon {
  cursor: pointer;
}
.file-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.selected-files {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow-y: scroll;
  gap: 10px;
  padding-right: 22px;
}
.selected-files::-webkit-scrollbar {
  width: 2px;
}
.selected-files::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px;
}
.selected-files::-webkit-scrollbar-track {
  background-color: #232323;
  border-radius: 2px;
}
.selected-file {
  color: #9395A0;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #232323;
}
.selected-file img {
  margin-left: auto;
}
.selected-file::before {
  content: url('../images/clip-s.svg');
  width: 22px;
  height: 17px;
}
.file-hint {
  color: var(--text-accent-color);
  font-size: var(--accent3-size);
}

.first-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1320px;
  margin: 0 auto;
}
.first-part-wrapper {
  padding: 0 var(--wrapper-padding);
  background-color: var(--card-bg-color);
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.credentials-number {
  font-family: "TT Norms Pro";
  font-weight: 500;
}
.footer-side {
  display: flex;
  flex-direction: column;
  font-family: "TT Norms Pro";
}
.footer-number {
  font-size: var(--accent2-size);
}
.footer-email {
  text-align: right;
  font-size: var(--accent2-size);
  color: var(--text-main-color);
  text-decoration: underline;
}
.selected-files {
  display: flex;
  flex-direction: column;
}
.adress, .adress-desc {
  font-size: var(--accent3-size);
}
.adress-desc {
  color: var(--text-accent-color);
  margin-bottom: 10px;
}
.afterparty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
}
.afterparty-wrapper {
  padding: 21px var(--wrapper-padding);
}
.afterparty-side {
  display: flex;
  gap: 24px;
}
.afterparty-side span {
  color: var(--text-accent-color);
}
.small {
  font-size: var(--small-size);
  color: var(--text-main-color);
  line-height: 140%;
}

.sendmail-popup-wrapper,
.offer-request-wrapper {
  width: calc(100vw - 24px);
  height: 100vh;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.sendmail-popup-wrapper.hidden,
.offer-request-wrapper.hidden {
  display: none;
}
.sendmail-popup {
  padding: 30px;
  width: calc(100vw - 60px);
  max-width: 800px;
  height: 465px;
  background-color: var(--card-bg-color);
  border-radius: 36px;
  position: relative;
}
.close-popup {
  padding: 12px;
  border-radius: 24px;
  width: 20px;
  height: 20px;
  background-color: #323232;
  position: relative;
  z-index: 6;
  cursor: pointer;
  position: absolute;
  right: 28px;
}
.popup-contents {
  width: 100%;
  transform: translateY(-40px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-status {
  color: var(--main-color);
  padding: 10px 14px;
  background-color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
}
.popup-status::before {
  width: 24px;
  height: 24px;
  content: url('../images/status.svg');
}
.popup-title {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-top: 48px;
  text-align: center;
}
.popup-description {
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
  text-align: center;
}

.offer-request-title {
  font-size: 36px;
  color: #fff;
  font-weight: 500;
}
.request-contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#request-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#request-offer > * {
  width: 100%;
}
.request-offer-inputs input[type="text"] {
  background-color: #232323;
}
.request-offer-inputs .left,
.request-offer-inputs .right {
  display: flex;
  flex-direction: column;
  width: calc(50% - 12px);
}
.request-offer-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#send-form-request {
  background-color: var(--main-color);
  cursor: pointer;
  color: #fff;
} 
#request-offer .offer-request-description {
  text-align: center;
}

.request-contents {
  height: 100%;
}

#contacts-request::after {
  content: 'Неправильная форма'
}

.offer-request-wrapper .main-part {
  margin: 0;
}
.offer-request.sendmail-popup {
  height: unset;
}

.request-offer-inputs span {
  margin: 24px 0;
  display: inline-block;
}
#send-form-request {
  margin-bottom: 24px;
}
.offer-error-name,
.offer-error-contacts {
  color: rgb(255, 77, 87);
}