:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: "Roboto Flex";
}
h1, h2, h3, .menu-item {
  color: var(--text-accent-color);
}
h1, h2 {
  font-family: "Roboto Flex", serif;
  font-weight: 447;
  line-height: 84%;
  letter-spacing: 0.9px;
  margin: 0;
  font-variation-settings: "opsz" 72, "GRAD" 150, "slnt" 0, "XTRA" 556, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 528, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
h3 {
  font-family: "TT Norms Pro";
  margin: 0;
}
h1 { font-size: var(--h1-size) }
h2 { font-size: var(--h2-size) }
h3 { font-size: var(--h3-size) }
a {
  text-decoration: none;
  color: var(--text-accent-color);
  font-family: "TT Norms Pro";
  font-weight: 500;
}
section {
  padding-bottom: var(--block-padding);
}
span, p, input, input::placeholder {
  color: var(--text-main-color);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-main-color);
}

.wrapper {
  padding: 0 var(--wrapper-padding);
  margin: 0 auto;
}

.menu-items {
  display: flex;
  font-weight: 500;
}
.menu-item {
  color: var(--text-accent-color);
  font-size: var(--menu-item-size);
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #000;
  width: calc(100vw - 2 * var(--wrapper-padding));
  padding: 0 var(--wrapper-padding);
  top: 0;
  z-index: 4;
}
.main-nav .left nav, .main-nav .right {
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--main-color);
}
.header-button {
  padding: 11px 24px;
  border-radius: 13px;
}
.header-button::before {
  content: url("../images/circle.svg");
  position: relative;
  top: -2px;
  margin-right: 10px;
}
.banner-button {
  border-radius: var(--small-radius);
  display: ruby-base;
}
.banner {
  background-image: url("../images/banner.png");
  background-color: var(--card-bg-color);
  background-position: center center;
  background-size: cover;

  border-radius: var(--big-radius);
  padding: 64px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.banner-tag-element {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 14px;
  color: var(--text-accent-color);
  border-radius: 64px;
}
.banner-tag-element::before {
  content: url('../images/tag.svg');
  height: 25px;
  margin-right: 10px;
}
.banner-title {
  text-align: center;
  margin: 36px 0;
}
.banner-description {
  font-family: "TT Norms Pro"
}

.accent1, .accent2, .accent3 {
  color: var(--text-accent-color);
  font-family: "TT Norms Pro";
  font-weight: 500;
}
.accent1 { font-size: var(--accent1-size); }
.accent2 { font-size: var(--accent2-size); }
.accent3 { font-size: var(--accent3-size); }

.small {
  font-size: var(--small-size);
  color: var(--text-main-color)
}

.slider-banner h2 {
  font-family: "TT Norms Pro"
}
.slider-banner {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-bg-color);
  border-radius: var(--big-radius);
  margin-top: 160px;
}
.slider-banner-image {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 0 0 var(--big-radius) 0;
}
.slider-banner .right {
  position: relative;
}
.banner-pagination {
  display: flex;
}
.banner-pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg-color);
  user-select: none;
  color: var(--border-color);
  opacity: 1;
  font-weight: 500;
  font-size: var(--normal-size);
  user-select: none;
  margin: 0 !important; /* Swiper */
}
.banner-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  background: var(--hover-color);
}
.banner-pagination .swiper-pagination-bullet-active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--text-accent-color)
}
.slider-banner-title {
  font-weight: 500;
  font-size: var(--accent2-size);
}
.slider-banner-description {
  display: inline-block;
  line-height: 25px;
}

.rate-cards {
  display: flex;
}
.rate-card {
  background-color: var(--card-bg-color);
  border-radius: var(--medium-radius);
  display: flex;
  flex-direction: column;
}
.rate-benefits {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.rate-benefits li {
  display: flex;
  align-items: center;
}
.rate-benefits li::before {
  height: 25px;
  content: url("../images/benefits.svg");
  margin-right: 10px;
}

.marquee {
  position: relative;
  font-family: "Roboto Flex";
  font-variation-settings: "opsz" 72, "GRAD" 150, "slnt" 0, "XTRA" 556, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 528, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  width: 200%;
  display: flex;
}
.marquee div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.marquee span {
  color: var(--text-accent-color);
}
.marquee-wrapper {
  position: relative;
  margin-left: calc(0px - var(--wrapper-padding));
  margin-right: calc(0px - var(--wrapper-padding));
  background-color: var(--main-color);
  padding: 0;
  margin-bottom: var(--block-padding);
  overflow: hidden;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%
  }
}

.grid-cards {
  display: grid;
}
.grid-card {
  background-color: var(--card-bg-color);
  display: flex;
  justify-content: space-between;
}
.grid-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-card-image {
  position: relative;
}
.grid-card-image img {
  position: absolute;
  right: 0;
}
.grid-card-content span {
  font-size: var(--normal-size);
  font-family: "TT Norms Pro";
  font-weight: 500;
  line-height: 140%;
}
.grid-card-content img {
  max-width: 100%;
  overflow: auto;
}